.trackSelectionCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow{
    padding: 20px;
    margin: auto;
    font-size: 60px;
}

.title{
    font-weight: bold;
    margin: 10px
}

.trackCardInternals img{
    margin: 10px;
}