.leagueCardInternal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.createLeagueCardInternals{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LeagueList{
    list-style: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.LeagueName{
    margin: 15px;
}

.myLeagueCard{
    display: flex;
    flex-direction: row;
}

.myLeagueInviteCode{
    margin: 15px;
}

.LeagueCardTitle{
    font-weight: bold; 
}

.CreateLeagueInput{
    padding: 5px;
    margin:5px;
}

label{
    padding: 10px;
}

.noLeagueMessage{
    color: red;
    font-weight: bold;
}

.leagueTableContainer table{

    border-collapse: collapse;
}

.leagueTableContainer th{
    font-size: larger;
}

.leagueTableRow, .leagueTableRowAlt{
    font-size: larger;

}

.leagueTableRow td, .leagueTableRowAlt td, .selectLeagueContainer{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    
}

.leagueTableRowAlt{
    background-color: rgb(94, 94, 94)
}

.LeagueCard{
    width: max-content;
}

.myLeaguesRow{
    justify-items: center;
}

.selectLeagueContainer{
    padding: 20px;
}