.leagueCardInternal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.createLeagueCardInternals{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LeagueList{
    list-style: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.LeagueName{
    margin: 15px;
}

.myLeagueCard{
    display: flex;
    flex-direction: row;
}

.myLeagueInviteCode{
    max-width: 300px;
    margin: 15px;

}

.LeagueCardTitle{
    font-weight: bold; 
}

.CreateLeagueInput{
    padding: 5px;
    margin:5px;
}

label{
    padding: 10px;
}

.inviteInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.myLeaguesRow td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.myLeaguesRow .inviteCode{
    max-width: 200px;
    overflow-wrap: break-word
}


.myLeaguesHeader th {
    padding-top: 20px;
}

.myLeaguesTable{
    min-width: fit-content;
}


