.cardClass{
    display: flex;
    flex-direction: column;
    min-width: 200;
    padding: 10px;
    margin: 2.5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    
    box-shadow: #ffffff;
}